# Test of `read_fwf` from Pandas

In [1]:
import pandas as pd

In [11]:
fname = '../inputs/test1.in'

In [12]:
in_df = pd.read_csv(fname,comment='!',header=None)

In [13]:
in_df

                 0
0   0.0 2.5e24 cm
1   1
2   1.87e-4
3   5.0
4   1.0e4
5   y
6      0.0\t
7   30000.
8   3
9   1e54
10  500.0e6
11  100
12  5.0e6

In [14]:
in_df.iloc[0]

0    0.0 2.5e24 cm
Name: 0, dtype: object

In [21]:
with open(fname) as file:
    lines = [l for l in file]
    print(lines[6].split())

['0.0', '!', 'UV', 'Background', '(s^-1)']